@media only screen and (min-width:1440px){

  .header {
    width: 1300px;
  }
  .about_us {
    width: 1440px;
  }

  .logos {
    width: 100%;
  }

  .connection_us {
    width: 100%;
  }
}

@media only screen and (max-width:1300px){

  .header {
    width: 800px;
  }

  .title_txt {
    font-size: 27pt;
  }

  .img_juice {
    display: none;
  }

  .shopno {
    width: 700px;
  }

  .title {
    width: 700px;
  }

  .main {
    width: 100%;
  }

  .about_us {
    width: 100%;
    margin-top: 50px;
  }

  .about_us_content {
    margin-top: 52px;
  }

  .about_us_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
  }

  .description_about_us {
    margin-top: 30px;
  }

  .featured_works {
    margin-top: 50px;
  }

  .works {
    width: 800px;
    margin-top: 70px;
    justify-content: space-around;
  }

  .work_picture {
    width: 350px;
  }

  .our_services {
    width: 800px;
    margin-top: 0px;
  }

  .services {
    width: 800px;
    margin-top: 30px;
    justify-content: center;
  }

  .small_team {
    width: 800px;
    margin-top: 10px;
  }

  .team {
    width: 800px;
    margin-top: 30px;
    justify-content: space-around;
  }

  .team_photo {
    width: 350px;
  }

  .what_they_says {
    width: 100%;
    margin-top: 36px;
  }

  .what_they_says_content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .connection_us {
    width: 800px;
  }

  .logos {
    width: 800px;
  }

  .row2, .row1 {
    flex-wrap: wrap;
  }

  .row2 {
    /* justify-content: center; */
    width: 533px;
  }

  .service {
    width: 800px;
  }

  .logo_pic {
    margin-left: 10px;
    margin-right: 10px;
  }

  .connection_us {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .connection_us_wrap {
    height: 1200px;
  }
}
